# this is the requirements.txt file...

#
# DEVELOPMENT / PRODUCTION

finvizfinance # Python wrapper for Finviz API

matplotlib #Used for Data visualization.
pandas 
requests
Flask #Running the web app from the local host
flair # Sentiment analysis package from huggingface

pytest #testing