{% extends "layout.html" %}

{% block content %}

    <h2> About The Application</h2>

    <p>A user inputs a ticker symbol for a publicly traded stock. The system will then analyze the median investor sentiment score based on the most recent 100 news headlines.
        
        <p>This range of median scores is from -1 to 1. </p>
        <p> -1= negative sentiment, do not investment</p>
        <p> 0 = nuetral sentiment</p>
        <p> 1 = positive sentiment, proceed with investment </p>

    </p>
{% endblock %}
