{% extends "bootstrap_layout.htm" %} {% set active_page = "hello" %} {% block content %}

<h1>{{ message }}</h1>

<p>Hi curious investor!</p>
<p>As mentioned on our home page, Valence is here to help you to assess recent market sentiments of a stock based on its news features.</p>
<p>The scores generated via our stock form are designed to provide you with an additional element to consider and compare alongside traditional technical analysis of stocks.</p>
<p>You can find more information on our rubric for assessing the valence of stock sentiments on our "about" page...</p>

<p> We hope Valence becomes a part of your daily investment practices! Have a good time and a great investment!</p>

{% endblock %}