{% extends "bootstrap_layout.htm" %} {% set active_page = "home" %} {% block content %}

<h2>Welcome to Valence!</h2>

    <p>Valence is a tool to help you decide whether to proceed with a potential investment.</p>
    <p>Simply enter any stock symbol for the company you would would like to analyze!  </p>
    <p>We will then provide you with a investment sentiment score based on the 100 most recent news headlines for that company for each given day.</p>
    <p>Please visit the "About" page for more information, including our scoring rubric. </p>

    <b> We hope you have a good time and a great investment!</b>

{% endblock %}