<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My App</title>
    </head>
    <body>
    
        <h1>Stock Sentiment Application</h1>
    
        <p>Welcome Home to the ticker sentiment app</p>
    
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/stock/sentiment.json">Stock</a></li>
            </ul>
        </nav>
    
        <footer>
            <p>Thank you for visiting our App!</p>
        </footer>
    
    </body>
    </html>


</body>
</html>