
{% extends "layout.html" %}

{% block content %}

    <h2> Welcome back to the investment sentiment app (ADD NAME)!</h2>

    <p>Use this application as a tool to decide whether you want to proceed with a potential investment</p>
    <p>Simply enter any stock symbol for the company you would would like to analyze!  </p>
    <p> We will then provide you with a investor sentiment score based on the last 100 news headlines for that company for each given day.</p>
    <p>Please visit the "about" page for our scoring rubric. </p>
    {% endblock %}