{% extends "bootstrap_layout.htm" %} {% set active_page = "stockticker_form" %} {% block content %}

<h2>Stock Ticker Selection</h2>

<p>Enter the ticker symbol for the company you are interested in to receive a median daily sentiment score...</p>


<form action="/stock/sentiment" method="POST">

    <label>Ticker:</label>
    <input type="text" name="ticker" placeholder="AMZN" value="AMZN">
    <br>


    <button>Submit</button>
</form>

<p>The median daily sentiments of the ticker chosen will generated shortly! </p>
<p>(Please allow up to 30 seconds to receive your results)</p>

{% endblock %}